</main>

<div class="container-fluid footer mt-auto py-3 bg-body-tertiary" style="max-height:30vh;">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">Antorrg</a>
      <span class="mb-3 mb-md-0 text-body-secondary">&copy; 2024 Company, Inc</span>
    </div>
    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3">
        <a class="text-danger" href="#">
          <i class="bi bi-youtube me-1"></i> You Tube
        </a>
      </li>
      <li class="ms-3">
        <a class="text" href="#">
          <i class="bi bi-twitter-x me-1 text"></i> (ex twitter)
        </a>
      </li>
      <li class="ms-3">
        <a class="text-danger" href="#">
          <i class="bi bi-instagram me-1"></i> Instagram
        </a>
      </li>
      <li class="ms-3">
        <a class="text-primary" href="#">
          <i class="bi bi-facebook me-1"></i> Facebook
        </a>
      </li>
    </ul>
  </footer>
</div>
</body>
</html>
