doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description" content= meta)
        meta(name="author" content="Antorrg. Antonio Ricardo Rodriguez Gramajo")
        link(rel= "icon" href="/favicon.png")
        script(type="module" crossorigin src=getAssetPath("scripts.js"))
        link(rel="stylesheet" crossorigin href="/index.css")
        title Antorrg
    body    
      nav.navbar.navbar-expand-md.navbar-dark.fixed-top.py-1.bg-dark.bg-gradient
        .container-fluid
          img(src='/favicon.png' style='max-width: 70px')
          a.navbar-brand.ms-1(href="/") Antorrg
          button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#navbarCollapse", aria-controls="navbarCollapse", aria-expanded="false", aria-label="Toggle navigation")
            span.navbar-toggler-icon
          .collapse.navbar-collapse(id="navbarCollapse")
            ul.navbar-nav.me-auto.mb-2.mb-md-0
              li.nav-item
                if isAuthenticated
                  a.nav-link.active(aria-current="page", href=url+"admin") Admin
                else
                  a.nav-link.active(aria-current="page", href=url+"admin") .
              li.nav-item
                a.nav-link.active(aria-current="page" href="/acerca") Sobre mi:
              li.nav-item
                a.nav-link.active(href="/contacto") Contacteme:

            div.dropdown.me-3
              button#themeToggleBtn.btn.btn-outline-secondary.dropdown-toggle(type="button", data-bs-toggle="dropdown", aria-expanded="false")
                | ☀️/🌙
              ul.dropdown-menu
                li
                  a.dropdown-item(href="#", data-bs-theme-value="light") ☀️ Light
                li
                  a.dropdown-item(href="#", data-bs-theme-value="dark") 🌙 Dark
                li
                  a.dropdown-item(href="#", data-bs-theme-value="auto") 🔄 Auto
      
      main(style="min-height: 70vh") 
        block content


      div.container-fluid.footer.mt-auto.py-3.bg-body-tertiary(style="max-height:30vh")
        footer.d-flex.flex-wrap.justify-content-between.align-items-center.py-3.my-4.border-top
          .col-md-4.d-flex.aling-items-center 
            a.mb-3.me-2.mb-md-0.text-body-secondary.text-decoration-none.lh-1(href="/") Antorrg
              span.mb-3.mb-md-0.text-body-secondary &copy; 2024 Company, Inc
          ul.nav.col-md-4.justify-content-end.list-unstyled.d-flex 
          li.ms-3
            a.text-body-secondary(href="#") X
              svg.bi(width="24", height="24")
                use(xlink:href="#twitter")
          li.ms-3
            a.text-body-secondary(href="#") Inst
              svg.bi(width="24", height="24")
                use(xlink:href="#instagram")
          li.ms-3
            a.text-body-secondary(href="#") Face
              svg.bi(width="24", height="24")
                use(xlink:href="#facebook")
