<%- include('./partials/header') %>

<main>
  <div class="backgroundPages" style="min-height: 100vh;">
    <div class="coverBackPages">
      <div class="container-sm modal-content textFormPagesContainer backgroundFormColor rounded-2 shadow">
        <div class="container mt-4">
          <div class="row">
            <h1>Acerca de:</h1>
            <strong>Mi nombre es Antonio Rodriguez.</strong>
            <strong>¿Quién soy?</strong>
            <p>Soy un programador fullstack orientado al backend.</p>
            <p>Desde hace mucho tiempo me interesó la programación, pero no fue hasta el día que encontré una oportunidad de estudiar en "Soy Henry" que esto pudo hacerse realidad. Estudié y aprendi react.js, express.js con sequelize y base de datos postgres. Egresé del bootcamp el 15-01-2024, desde entonces estudié practiqué, construí (muchos de mis proyectos de ese tiempo ya no existen), y experimenté el largo camino del desarrollo personal a través del desarrollo de software.</p>
            <strong>¿Por qué "orientado al backend"?</strong>
            <p>Simple. Según lo poco que pude observar y mi perspectiva personal, ser fullstack me permite tener conocimiento y desarrollar un poco de cada cosa, pero para llegar a ser bueno en algo, para alcanzar una excelencia, en el día de hoy el desarrollo web es tan amplio y complejo que me parece casi imposible abarcar todas las cosas y ser bueno en todas, es demasiado, eso seria mas bien (a mi entender por supuesto) trabajo de un equipo, hay mucha complejidad subyacente, muchos aspectos a cuidar y entender para cada cosa, y si bien se puede tener una buena noción y criterio general alcanzar y mantener un cierto grado de perfección requiere mucho tiempo y esfuero, más de lo que normalmente podemos llegar a dar o disponer, por tanto, creo firmemente en la división de responsabilidades. Me costó mucho tiempo y trabajo poder comprender conceptos tales como la programacion orientada a objetos y otros tantos, que mi incursion por el frontend fue mucho mas superficial, hoy en día me siento mas seguro, mas en lo mio en el backend, si bien en muchos de los productos que se muestran aqui las aplicaciones frontend (react.js, ejs con MVC) fueron desarrolladas por mi.</p>
            <strong>¿Qué hago?</strong>
            <p>Actualmente me dedico a realizar proyectos de frontend y backend que me permiten avanzar en mi formación como programador.</p>
            <strong>Mi objetivo:</strong>
            <p>Es mi intención poder dedicarme de tiempo completo a la programación y además poder también compartir mis conocimientos con aquellos que están dando sus primeros pasos en esta maravillosa profesión.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<%- include('./partials/footer') %>
