doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Acerca de:
        link(rel="stylesheet" crossorigin href="/index.css")
    body 
       div.container(style="display: flex; align-items: center; justify-content: center") 
        div 
          h1.h3 About page of Rick and Morty en Pug.
          a.btn.btn-sm.btn-success.me-2(href= '/') Landing