extends ./layouts/mainLayout.pug

block content
  div.container.mt-5(style=" display: flex; align-items: center; justify-content: center;") 
        div 
          h1.h3 About page of Rick and Morty en Pug.
          a.btn.btn-sm.btn-success.me-2(href= '/') Landing page


