<%- include('./partials/header') %>

<main>
  <div class="backgroundPages" style="min-height: 100vh;">
    <div class="coverBackPages">
      <div class="container-sm modal-content textFormPagesContainer backgroundFormColor rounded-2 shadow">
        <div class="container mt-4">
          <div class="row">
            <h1>Acerca de:</h1>
            <strong>Mi nombre es Antonio Rodriguez.</strong>
            <strong>¿Quién soy?</strong>
            <p>Soy programador fullstack con enfoque en backend.</p>
            <p>Desde hace mucho tiempo me interesó la programación, pero fue gracias a una oportunidad de estudio en Soy Henry que pude convertir ese interés en una realidad. Allí aprendí tecnologías como React.js, Express.js con Sequelize, y PostgreSQL. Egresé del bootcamp el 15/01/2024.</p>

            <p>Desde entonces, no he dejado de aprender, practicar y construir. Muchos de mis primeros proyectos ya no existen, pero cada uno fue parte del camino en mi desarrollo personal y profesional a través del software..</p>
            <strong>¿Por qué "orientado al backend"?</strong>
            <p>Porque creo que para alcanzar la excelencia en algo, es necesario especializarse. Ser fullstack me permite comprender todo el flujo de una aplicación, pero el desarrollo web actual es tan amplio y complejo que resulta difícil dominar cada aspecto al mismo nivel.</p>
            <p>Hoy en día, valoro mucho la división de responsabilidades y el trabajo en equipo. Después de mucho esfuerzo comprendiendo conceptos como la programación orientada a objetos y otros fundamentos, descubrí que me siento más cómodo y seguro en el backend.</p>
            <p>Aun así, muchas de las aplicaciones que ven aquí también tienen frontend desarrollado por mí, usando React.js o EJS con patrón MVC</p>
            <strong>¿Qué hago?</strong>
            <p>Actualmente, desarrollo proyectos tanto de frontend como de backend que me ayudan a seguir creciendo como programador.</p>
            <strong>Mi objetivo:</strong>
            <p>Quiero dedicarme de forma profesional y a tiempo completo al desarrollo de software. Además, me gustaría compartir lo que aprendí con quienes están dando sus primeros pasos en esta maravillosa profesión.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<%- include('./partials/footer') %>
