<%- include('./partials/header') %>

<main>
  <div class="backgroundPages" style="min-height: 100vh;">
    <div class="coverBackPages">
      <div class="container-sm modal-content textFormPagesContainer backgroundFormColor rounded-2 shadow">
        <div class="container mt-4">
          <div class="row">
            <h1>Acerca de:</h1>
            <strong>Mi nombre es Antonio Rodriguez.</strong>
            <strong>¿Quién soy?</strong>
            <p>Soy un programador fullstack.</p>
            <p>Desde hace mucho tiempo me interesó la programación, pero no fue hasta el día que encontré una oportunidad de estudiar en "Soy Henry" que esto pudo hacerse realidad.</p>
            <strong>¿Qué hago?</strong>
            <p>Actualmente me dedico a realizar proyectos de frontend y backend que me permiten avanzar en mi formación como programador.</p>
            <strong>Mi objetivo:</strong>
            <p>Es mi intención poder dedicarme de tiempo completo a la programación y además poder también compartir mis conocimientos con aquellos que están dando sus primeros pasos en esta maravillosa profesión.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<%- include('./partials/footer') %>
