extends ./layouts/mainLayout.pug

block content
  div.backgroundPages(style="min-height: 100vh;")
    .coverBackPages
      .container-md.modal-content.textFormPagesContainer.backgroundFormColor.rounded-2.shadow(style='width:50vw')
        .container.mt-4
          h1 Acerca de: 
          P Mi nombre es Antonio Rodriguez, la la la la al la
      