extends ./layouts/mainLayout.pug

block content
  div.backgroundPages(style="min-height: 100vh;")
    .coverBackPages
      .container-md.modal-content.textFormPagesContainer.backgroundFormColor.rounded-2.shadow(style='width:50vw')
        .container.mt-4
          h1 Acerca de: 
          P Mi nombre es Antonio Rodriguez.
          strong Quien soy:
          p Soy un programador fullstack.
          p Desde hace mucho tiempo me interesó la programación pero no fue hasta el día que encontré una oportunidad de estudiar en "Soy Henry" que esto pudo hacerse realidad.
          strong Qué hago:
          p Actualmente me dedico a realizar proyectos de frontend y backend que me permiten avanzar en mi formación como programador.
          strong Mi objetivo: 
          p Es mi intención poder dedicarme de tiempo completo a la programación y además poder también compartir mis conocimientos con aquellos que están dando sus primeros pasos en esta maravillosa profesión.








      