extends ./layouts/mainLayout.pug

block content
  div.container.mt-5
        div 
          h1.h3 Aca vendría un formulario de contacto.
          a.btn.btn-sm.btn-primary.me-2(href= '/') Landing page
          button.btn.btn-sm.btn-primary.me-2#sendMailButton(type='button') Enviar alerts

