extends ./layouts/mainLayout.pug

block content
  div.backgroundPages(style="min-height: 100vh;")
    .coverBackPages
      .container-sm.modal-content.textFormPagesContainer.backgroundFormColor.rounded-2.shadow
        .container.mt-4
          h1 Contacto: 
        form#sendEmail
          .row 
            .col-md-12.mb-3
              label.form-label(htmlFor="email") Su email: 
              input.form-control(type="email" id="email" name="email" placeholder="Su email..." required)
              p#errorEmail.error 
            .col-md-12 
              label.form-label(htmlFor="subject") Asunto: 
              input.form-control(name="subject" id="subject" type="text" placeholder= "Asunto..." required)
              p#errorSubject.error 
            .col-md-12 
              label.form-label(htmlFor="message") Mensaje: 
              textarea.form-control(name="message" id="message" placeholder="Su mensaje..." required)
              p#errorMessage.error 
        .d-flex.flex-row.justify-content-between.align-items-center
          button.btn.btn-sm.btn-primary#submitButton(type= "submit" disabled) Enviar 
          button.btn.btn-sm.btn-outline-secondary.mt-3.me-3.mb-4#cancelButton(type="button") Cancelar
        a.btn.btn.sm.btn-outline-success.mt-3.me-3.mb-4.mx-auto.w-15(href=`${uriWhatsApp}` target="_blank")
          i.bi.bi-whatsapp

