doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Error
        link(rel="stylesheet" crossorigin href="/index.css")
    body 
      div.backgroundPages(style="min-width:100vw; min-height: 100vh; display: flex; align-items: center; justify-content: center")
        div
          div.backgroundFormColor.caption-nav
            h1 Error: #{status}
            h2 #{message}
            h3 (¡¡¡Creo que algo salió mal!!!)
            a.btn.btn-sm.btn-primary.me-2(href='/') Volver
    script. 
      setTimeout(() => {
          window.location.href = '/';
        }, 5000);