extends ./layouts/mainLayout.pug

block content
  div.container-sm
    div.modal.modal-tour.position-static.d-block.modal-custom.py-5
      div.modal-dialog.modal-dialog-centered.modal-xl
        div.modal-content
          div.modal-body.p-5.text-center
            img.d-block.mx-auto.mb-4.img-fluid(src=item.img  alt="image not found")
            p.text-muted 
              strong Texto: 
              | #{item.text}
            a.btn.btn-sm.btn-secondary.mt-3.mx-auto.w-15(href=`/detalles/${item.ProductId}`) Cerrar
