extends ./layouts/mainLayout.pug

block content
  div
    h1.h2 Landing page of Rick and Morty en Pug.
    a.btn.btn-sm.btn-primary.me-2(href= url) Entrar
    a.btn.btn-sm.btn-success.me-2(href='/about') Acerca de 